@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Poppins&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  padding: 50px;
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(2, 50%);
  background-color: #e9ecef;
}

.product {
  width: 650px;
  height: 310px;
  background-color: #fff;
  display: flex;
  padding: 5px;
}

.image {
  margin-right: 20px;
  width: max-content;
  padding: 0;
  display: flex;
  background-color: #e9ecef;
}
.product .image img {
  width: 230px;
  height: 300px;
}
.details {
  width: 100%;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details div {
  display: grid;
  grid-template-columns: repeat(2, 60% 40%);
  margin-bottom: 10px;
}
.details div #price {
  text-align: right;
}
.details #brand {
  font-weight: 500;
  margin-bottom: 10px;
}
.details #product-name,
#disc,
#price {
  font-weight: 500;
}

.details #disc,
#other {
  color: #8f9091;
}

.buttons {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.buttons button {
  border: none;
  padding: 10px;
  font-size: 1.1rem;
}

.buttons .chekout {
  width: 135px;
  background-color: #000000;
  color: white;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: translateX(-10px);
  }
}

.buttons #remove i {
  font-size: 1.8rem;
  color: #ff4500;
  margin-top: 10px;
  &:hover {
    color: #ff0000;
  }
}

.clear {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear button {
  margin-top: 50px;
  padding: 10px;
  width: 100px;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.cart-msg{
  display: none;
  justify-content: center;
  margin-top: 50px;
}
.empty-cart {
  font-family: "Roboto", sans-serif;
  text-align: left;
  width: max-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.empty-cart h1,
h4,
button {
  font-family: "Roboto", sans-serif;
}
.empty-cart h4 {
  font-weight: normal;
}
.empty-cart button {
  width: 150px;
  background-color: #000000;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 15px;
  transition: 0.5s ease-in-out;
  &:hover {
    transform: translateX(20px);
  }
}
body.dark-mode #product-name,
#price,
#brand {
  color: #000000;
}
