.new-arrivals-producs{
    width: 100%;
    height: max-content;
    background-color: #c8cacb;
    padding: 30px 50px 30px 50px ;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
.product{
    width: 300px;
    height: max-content;
    padding: 15px;
    position: relative;
}
.product:hover .image img{
    transform: scale(.9)
}
.product .image img{
    margin-bottom: 8px;
    width: 230px;
    transition: transform .5s ease-in-out;
}
.product,.product .image{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.product .brand-name,.product-name{
    font-weight: 500;
}

.product .dis{
    font-size: 500;
    color: #495057;
}

.product .mrp{
    font-weight: 600;
    margin-top: 8px;
}
.product .style{
    font-size: .9rem;
    margin-left: 10px;
}
.view{
    width: 90px;
    position: absolute;
    bottom: 10px;
    right: 8px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    transform: translateY(10px);
    transition: .4s ease-in-out;
    opacity: 0;
}

.product:hover .view{
    transform: translateY(0);
    opacity: 1;
    display: block;
}
.view:hover{
    background-color: #fff;
    font-weight: 600;
}